@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-container {
        @apply container mx-auto px-6 md:px-10 xl:px-16;
    }
}

.bg-world-dot {
    background-image: url(/map.svg);
    background-position: top;
    background-repeat: no-repeat;
}

.bg-dots {
    background-image: 
        radial-gradient(circle, #ccc 10%, transparent 10%),
        radial-gradient(circle, #ccc 10%, transparent 10%);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    background-repeat: repeat;
}
