@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-container {
        @apply container mx-auto px-6 md:px-10 xl:px-16;
    }
}

.bg-world-dot {
    background-image: url(public/map.svg);
    background-position: top;
    background-repeat: no-repeat;
}

